[loggers]
keys=root

[handlers]
keys=gmHandler,consoleHandler

[formatters]
keys=gmFormatter,simpleFormatter

[logger_root]
level=ERROR
handlers=gmHandler,consoleHandler

[handler_gmHandler]
class=classes.GMailHandler
level=DEBUG
formatter=gmFormatter
args=

[handler_consoleHandler]
class=FileHandler
level=ERROR
formatter=simpleFormatter
args=('errors.log','a')

[formatter_gmFormatter]
class=logging.Formatter
format="%(name)s called: Problem with %(funcName)s function in %(filename)s"
datefmt="%d/%m/%Y %H:%M:%S"

[formatter_simpleFormatter]
class=logging.Formatter
format="File: '%(pathname)s'\n%(asctime)s Failed: Line %(lineno)d in %(filename)s\nError: %(message)s\n"
datefmt="%d/%m/%Y %H:%M:%S"
