{% extends "layout.html" %} {% block main %}
<table>
  <tr>
    <th>Musical</th>
    <th>Playwright</th>
    <th>Composer</th>
    <th>Lyricist</th>
    <th>Genre</th>
    <th>Production Year</th>
    <th>Plot</th>
  </tr>
  {% for musical in musicalList %} {% if musical.musical != 'All Musicals' %}
  <tr>
    <td>{{musical.musical}}</td>
    <td>{{musical.playwright}}</td>
    <td>{{musical.composer}}</td>
    <td>{{musical.lyricist}}</td>
    <td>{{musical.genre}}</td>
    <td>{{musical.production_year}}</td>
    <td>{{musical.plot}}</td>
  </tr>
  {% endif %} {% endfor %}
</table>
{% endblock %}