{% extends "layout.html" %} {% block main %}
<div class="hello">
  <form data-toggle="validator" action="{{ url_for('changepassword') }}" method="post">
    <p style="text-decoration: underline; text-align: center;">Change Password</p>
    <fieldset>
      <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input autocomplete="off" autofocus class="form-control" name="userEmail" placeholder="User Name" type="text" data-error="Please enter your username" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="old password" class="control-label">Old Password</label>
        <input class="form-control" name="old password" placeholder="Password" type="password" data-error="Please enter your old password" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="new password" class="control-label">New Password</label>
        <input class="form-control" name="new password" id="passwordFirst" placeholder="Password" type="password" data-error="Please enter a new password" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="confirm password" class="control-label">Confirm Password</label>
        <input class="form-control" name="confirm password" placeholder="Confirm Password" type="password" data-match="#passwordFirst" data-match-error="Passwords don't match" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <button class="btn btn-default" id="submit" type="submit">Change Password</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}