{% extends "layout.html" %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="hello">
  <form autocomplete="off" method="post">
      <fieldset>
            <h3 align="center">Musical Addition</h3>
                <div class="form-group">
                    <label for="muscialName">Musical Name:</label>
                    <input class="form-control" id="musicalName" name="musicalName" placeholder="Musical Name" type="text"/>
                </div>
                <div class="form-group">
                    <label for="playwright">Playwright:</label>
                    <input class="form-control" id="playwright" name="playwright" placeholder="Playwright" type="text"/>
                </div>
                <div class="form-group">
                    <label for="musicalComposer">Composer:</label>
                    <input class="form-control" id="musicalComposer" name="musicalComposer" placeholder="Composer" type="text"/>
                </div>
                <div class="form-group">
                    <label for="lyricist">Lyricist:</label>
                    <input class="form-control" id="lyricist" name="lyricist" placeholder="Lyricist (optional)" type="text"/>
                </div>
                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <input class="form-control" id="musicalGenre" name="musicalGenre" placeholder="Genre (optional)" type="text"/>
                </div>
                <div class="form-group">
                    <label for="productionYear">Production Year:</label>
                    <input class="form-control" id="productionYear" name="productionYear" placeholder="Production Year (optional)" type="text"/>
                </div>
                <div class="form-group">
                    <label for="plot">Plot:</label>
                    <input class="form-control" id="plot" name="plot" placeholder="Plot (optional)" type="text"/>
                </div>
                <div class="form-group">
                    <br><br><button class="btn btn-primary" type="submit">Add Musical</button>
                </div>
            </fieldset>
    </form>
  </div>
</div>
</div>
{% endblock %}
