{% extends "layout.html" %}

{% block main %}
<div class="hello">
    <form action="{{ url_for('register') }}" method="post">
        <p style="text-decoration: underline; text-align: center;">Register</p>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="first name" placeholder="First Name" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm password" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
