{% extends "layout.html" %} {% block main %}
<div class="hello">
  <form data-toggle="validator" action="{{ url_for('register', next=request.args.get('next')) }}" id="newsongform" method="post">
    <p style="text-decoration: underline; text-align: center;">Register</p>
    <fieldset>
      <div class="form-group">
        <label for="first name" class="control-label">Name</label>
        <input autocomplete="off" autofocus class="form-control" name="firstName" placeholder="Name" type="text" data-error="Please insert your first name" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="last name" class="control-label">Name</label>
        <input autocomplete="off" autofocus class="form-control" name="lastName" placeholder="Last Name" type="text" data-error="Please insert your name">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input autocomplete="off" autofocus class="form-control" name="userEmail" placeholder="Username" type="text" data-error="Please insert a username" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input class="form-control" name="password" data-minlength="6" id="passwordFirst" placeholder="Password" required type="password" data-error="Please insert your password (at least 6 characters long)">
        <div class="help-block">Minimum of 6 Characters</div>
      </div>
      <div class="form-group">
        <label for="confirm password" class="control-label">Confirm Password</label>
        <input class="form-control" data-match="#passwordFirst" data-match-error "Passwords don't match" name="confirm password" placeholder="Confirm Password" required type="password">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <button class="btn btn-default" id="submit" type="submit">Register</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}