{% extends "layout.html" %} {% block main %}
<div class="container" id="outer_container">
  <form autocomplete="off" method="post">
    <fieldset>
      <div class="row">
        <div class="col-md-2">
          <a href="{{url_for('index')}}" class="btn btn-primary">Go Back</a>
        </div>
      </div>
      <br>
      <table style="width:100%">
        <tr>
          <th></th>
          <th>Song Title</th>
          <th>Musical</th>
          <th>Role</th>
          <th>Singer</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Original Musical</th>
          <th>Composer</th>
          <th>Sheet Music</th>
          <th>Spotify Id</th>
          <th>Musical/Non Musical</th>
          <th></th>
        </tr>
        {% for song in songList %}
        <tr>
          <td><input type="checkbox" name="checkedSong" value="{{song.songId}}"></td>
          <td>{{song.song_title}}</td>
          <td>{{song.musical}}</td>
          <td>{{song.role}}</td>
          <td>{{song.singer}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.genre}}</td>
          <td>{{song.original_musical}}</td>
          <td>{{song.composer}}</td>
          <td>{{song.sheet_music}}</td>
          <td>{{song.spotifyId}}</td>
          <td>{{song.musicalNon}}</td>
          <td>
            <a href="{{url_for('getspotifyinfo', track=song.song_title, artist=song.artist, id=song.songId)}}" class="btn btn-default">Choose ID</a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <div class="row">
        <div class="col-md-offset-2 col-md-2">
          <button class="btn btn-primary" name="addSong" type="submit">Add</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" name="deleteSong" type="submit">Delete</button>
        </div>
      </div>
      <br><br>
      <table style="width:100%">
        <tr>
          <th></th>
          <th>Musical</th>
          <th>Playwright</th>
          <th>Composer</th>
          <th>Lyricist</th>
          <th>Genre</th>
          <th>Production Year</th>
          <th>Plot</th>
        </tr>
        {% for musical in musicalList %}
        <tr>
          <td><input type="checkbox" name="checkedMusical" value="{{musical.Id}}"></td>
          <td>{{musical.musical}}</td>
          <td>{{musical.playwright}}</td>
          <td>{{musical.composer}}</td>
          <td>{{musical.lyricist}}</td>
          <td>{{musical.genre}}</td>
          <td>{{musical.production_year}}</td>
          <td>{{musical.plot}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <div class="row">
        <div class="col-md-offset-2 col-md-2">
          <button class="btn btn-primary" name="addMusical" type="submit">Add</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" name="deleteMusical" type="submit">Delete</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}