{% extends "layout.html" %} {% block main %}
<h1 align="center" id="title">Showbiz Song Search!</h1>
<div class="container" id="outer_container">
  <div class="row">
    <div class="hello">
      <form data-toggle="validator" autocomplete="off" method="post" id="newForm">
        <fieldset>
          <h4>What are you auditioning for?</h4>
          <div class="form-group">
            <label class="sr-only" for="musical">Musical</label>
            <input class="form-control" id="search" name="musical" placeholder="Musical you are auditioning for" type="text" data-error="Please select a musical" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="sel" class="control-label">Roles:</label>
            <select class="form-control" id="sel" name="role"></select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="checkbox">
                <label><input type="checkbox" name="musicalOrNon" value="musicalSongs" checked>Musical Theater Songs  </label>
                <label><input type="checkbox" name="musicalOrNon" value="nonMusicalSongs" checked>Non-Musical Theater Songs</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <input class="titlebutton" type="submit" id="submit" value="Search">
              </div>
              <div class="col-md-7 col-md-offset-3">
                <a class="titlebutton" style="height: 30px;" href="#">All Musicals</a>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}